table,
th,
td {
  border: 2px solid red;
}

table {
  border-radius: 2px;
  border-collapse: collapse;
  width: 100%;
  margin-top: 50px;
}

td {
  height: 50px;
  font-size: 20px;
  font-family: serif;
}

tr {
  background-color: green;
  color: white;
}

th {
  background-color: yellow;
  color: black;
  height: 50px;
  font-size: 20px;
  font-family: serif;
}

.Anim {
  max-width: 100%;
  text-align: center;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: fantasy;
  color:darkslategrey;
}

h3 {
  font-family: sans-serif;
  text-transform: uppercase;
  color: grey;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  background-color: lightblue;
  text-align: center;
  padding-top: 10px;
}